node_modules/
uploads/
*.sqlite
*.sqlite3
.env
.DS_Store
*.log
service-account.json
Private key of firebase storage.json
**/Private key*.json
**/service-account*.json
**/firebase-*.json
!firebase.json
!firebase.emulators.json

